In [2]:
print("sumit")

sumit

In [3]:
import numpy as np
import pandas as pd
import os

In [4]:
df=pd.read_csv("Churn_Modelling.csv")

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [6]:
df.shape()

TypeError: 'tuple' object is not callable

In [7]:
df.shape

(10002, 14)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10002 non-null  int64
 1   CustomerId       10002 non-null  int64
 2   Surname          10002 non-null  object
 3   CreditScore      10002 non-null  int64
 4   Geography        10001 non-null  object
 5   Gender           10002 non-null  object
 6   Age              10001 non-null  float64
 7   Tenure           10002 non-null  int64
 8   Balance          10002 non-null  float64
 9   NumOfProducts    10002 non-null  int64
 10  HasCrCard        10001 non-null  float64
 11  IsActiveMember   10001 non-null  float64
 12  EstimatedSalary  10002 non-null  float64
 13  Exited           10002 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.1+ MB

In [10]:
df['Exited'].value_counts()

Exited
0    7964
1    2038
Name: count, dtype: int64

In [13]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [14]:
df.head(

SyntaxError: incomplete input (2846517621.py, line 1)

In [15]:
df.head

<bound method NDFrame.head of        CreditScore Geography  Gender   Age  Tenure    Balance  NumOfProducts  \
0              619    France  Female  42.0       2       0.00              1
1              608     Spain  Female  41.0       1   83807.86              1
2              502    France  Female  42.0       8  159660.80              3
3              699    France  Female  39.0       1       0.00              2
4              850     Spain  Female  43.0       2  125510.82              1
...            ...       ...     ...   ...     ...        ...            ...
9997           709    France  Female  36.0       7       0.00              1
9998           772   Germany    Male  42.0       3   75075.31              2
9999           772   Germany    Male  42.0       3   75075.31              2
10000          792    France  Female  28.0       4  130142.79              1
10001          792    France  Female  28.0       4  130142.79              1

       HasCrCard  IsActiveMember  EstimatedSalary  Exited
0            1.0             1.0        101348.88       1
1            0.0             1.0        112542.58       0
2            1.0             0.0        113931.57       1
3            0.0             0.0         93826.63       0
4            NaN             1.0         79084.10       0
...          ...             ...              ...     ...
9997         0.0             1.0         42085.58       1
9998         1.0             0.0         92888.52       1
9999         1.0             0.0         92888.52       1
10000        1.0             0.0         38190.78       0
10001        1.0             0.0         38190.78       0

[10002 rows x 11 columns]>

In [16]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [18]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [21]:
    from sklearn.model_selection import train_test_split
X=df.drop(columns="Exited")
Y=df["Exited"]

In [23]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [24]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [25]:
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [28]:
X_train_scaled

array([[-0.39282668,  0.76017431,  0.33583668, ..., -0.58076586,
        -0.57403089,  0.91015498],
       [-0.00829243,  0.6650395 ,  1.37517241, ...,  1.72186429,
        -0.57403089, -1.09871398],
       [-0.11222061,  3.32881406, -1.04994429, ...,  1.72186429,
        -0.57403089, -1.09871398],
       ...,
       [ 2.07027105, -0.28630855, -0.70349904, ..., -0.58076586,
        -0.57403089,  0.91015498],
       [-1.03718135,  1.42611795, -0.01060856, ...,  1.72186429,
        -0.57403089,  0.91015498],
       [ 0.03327884, -1.047387  ,  0.68228192, ..., -0.58076586,
        -0.57403089, -1.09871398]])

In [30]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential

In [57]:
from tensorflow.keras.layers import Dense

In [59]:
model=Sequential()

In [65]:
model.add(Dense(3, activation='sigmoid', input_dim=X_train.shape[1]))  # ✅ input_dim is here
model.add(Dense(1,activation="sigmoid"))

In [63]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

model.fit(X_train_scaled,Y_train)

In [64]:
model.fit(X_train_scaled,Y_train,epochs=10)

Epoch 1/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: nan
Epoch 2/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: nan
Epoch 3/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: nan
Epoch 4/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: nan
Epoch 5/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: nan
Epoch 6/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: nan
Epoch 7/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: nan
Epoch 8/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: nan
Epoch 9/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: nan
Epoch 10/10
251/251 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: nan

In [69]:
y_pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
y_pred = y_pred.argmax(axis=-1)
accuracy_score(Y_test,y_pred)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

0.8115942028985508